
body {
    font-family: 'EB Garamond', serif;
    /*insert font from GOOGLE HERE*/
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    text-align: center;
}

legend {
    font-size: 1.3rem;
    font-family: 'Playfair Display SC', serif;
}

textarea {
    border: 1.2px solid;
    box-sizing: border-box;
}

textarea:focus {
    background-color: #EAEAEA;
}

input {
    border: 1.2px solid;
    box-sizing: border-box;
}

input:focus {
    background-color: #EAEAEA;
}

button {
    background-color: #8FB390;
    color: #FFFFFF;
    border: 1.2px solid black;
    box-shadow: 0 1px 0 #EAEAEA;
    font-size: 1.3rem;
    font-family: 'Playfair Display SC', serif;
}

button:focus {
    background-color: #EAEAEA;
    color: #5A7F64;
}

/*  grids */

main {
	display: grid;
}

/* hero content */

.content {
	display: grid;
}

/* about content */

.about-content {
	display: grid;
}

/*  gallery */

.gallery {
	display: grid;
}

figure {
	display: grid;
}

/*  article */

article {
	display: grid;
}

/* form container */
.form-container {
	display: grid;
}

/* footer */

footer {
	display: grid;
}

/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {

	.mobile-first {
		display: none;
	}

	/* hero content */

	.content {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.content picture,
	.content p,
	.about-content {
		grid-column: 2/3;
	}

	/*	about content */

	/*	gallery */

	figure {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
	}

	figcaption {
		margin-left: 2rem;
	}

	/*	article */

	article,
	.form-container {
		grid-template-columns: 1fr 48rem 1fr;
	}

	article h1,
	.story-body,
	.form-container h1,
	form {
		grid-column: 2/3;
	}



	/*	form */


}

/* wide screen layout >=64rem (1024px) */

@media screen and (min-width: 64rem) {

	/*  hero content */

	/*	about content */

	/*	gallery */

	.gallery {
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		justify-items: center;

	}

	.gallery h1 {
		grid-column: 1/4;
	}
